<div (click)="changeTab()" class="relative shadow rounded-full flex justify-center items-center max-w-fit m-auto mb-16">
  <button [class]="activeTab == 'cart' ? 'font-semibold' : ''" class="w-36 px-8 py-4 rounded-full z-10">Cart</button>
  <button [class]="activeTab == 'orders' ? 'font-semibold' : ''" class="w-36 px-8 py-4 rounded-full z-10">Orders</button>
  <!-- bulle qui suit l'onglet actif -->
  <div [class]="activeTab == 'orders' ? 'translate-x-full' : 'translate-x-0'" class="absolute top-0 left-0 h-full w-36 bg-gray-100 rounded-full z-0  transition-transform ease-in-out"></div>
</div>

@if(activeTab == 'cart') {
  <app-cart (orderPlaced)="changeTab()" />
} @else if(activeTab == 'orders') {
  <div>
    <app-orders />
  </div>
}
