@for(order of orders; track $index){
  <button (click)="showOrderDetails($index)" class="mb-4 flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 rounded-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3">
    <div class="">
      <p>{{order.date | date:'dd/MM/yyyy'}}</p>
      <p class="font-bold text-slate-400 hover:underline">Order id: <span class="text-indigo-600 font-semibold">#{{order.id}}</span></p>
    </div>
    <svg data-accordion-icon [class]="openedOrders.includes($index)? '' : 'rotate-180'" class="w-3 h-3 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
    </svg>
  </button>
  <div [class]="openedOrders.includes($index)? '':'hidden'" class="gap-4 grid grid-cols-1 p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        @for(product of order.products; track product.id; let last = $last){
          <div [class]="$last ? '' : 'border-b-2'" class="grid grid-cols-6 pb-4">
            <div class="col-span-1">
              <div class="w-36 h-36 rounded-lg overflow-hidden">
                <img class="w-full h-full object-cover" [src]="'/assets/images/' + product.img" alt="">
              </div>
            </div>
            <div class="col-span-4 py-2 px-8 flex flex-col min-h-full justify-between">
              <div>
                <p class="font-bold">{{ product.titre }}</p>
                <p>{{ product.description }}</p>
              </div>

              <p class="font-semibold text-sm">Quantity : <span class="text-slate-500 ">{{product.quantity}}</span></p>
            </div>
            <div class="col-span-1 py-2">
              <p>Price</p>
              <p class="text-indigo-600">{{product.price}}€</p>
            </div>
          </div>

        }
  </div>
}
